body {
  position: relative;
  color: white;
  background: linear-gradient(
    200.96deg,
    #fedc2a,
    #dd5789,
    #7a2c9e
  );
  background-attachment: fixed;
  font-family: sans-serif;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  border:solid 1px #ccc;
  appearance: none;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}



/* Tree Calculator CSS */

* {
  font-size: 16px;
  color: #444;
}

.app {
  /* margin: auto; */
  width: 860px;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #f0ffff;
}

h2 {
  font-size: 21px;
  clear: both;
  color: #333;
}

input {
  border: none;
  border:solid 1px #ccc;
  border-radius: 6px;
  padding-left: 4px;
}

.small-input-field {
  height: 20px;
  width: 50px;
}

.input-field {
  padding: 0px 0px;
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border-color: #CCC;  
}

form {
  background-color: #FFFFFFDD;
  padding: 40px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.tree-details-input {
  border-block: 1px solid #c4c4c455;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: -1px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.multiplier-picker-container {
  float: right;
}

.multiplier-picker-container > * {
  float: right;
  margin-bottom: 8px;
}

.number-input {
  width: 50px;
}